.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-block {
  /*display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;*/
}
