body {
  background-color: #d6e3fc;
}

.intro-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.intro-block {
  margin: 2em;
}

.profile-image{
  width: 20em
}
